@import "tailwindcss";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@theme {
  --color-primary: #ff5252;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container{
  width: 90%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link:hover{
  color: #ff5252;
}